.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: space(2) 0;

  @include d1-mq("small") {
    padding: space(1) 0;
  }

  &-logo {
    flex: 2;
    max-width: 50%;
    transition: 0.1s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    @include d1-mq("medium") {
      text-align: center;
    }
  }

  &-phone-icon {
    font-size: rem(35px);
    transform: translate(-6px, 3px) rotate(40deg);
  }

  &-hamburger_icon {
    color: $color--white;
    font-size: space(3);
  }

  &-phone {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex: 1;
    color: $color--white;

    @include d1-mq("medium") {
      visibility: hidden;
    }
  }

  &-phone-text {
    font-size: rem(16px);
    font-family: $font-family--secondary;
  }

  &-phone-number {
    font-size: rem(16px);
  }

  &-contact {
    flex: 1;
    color: $color--white;
    text-align: right;
    font-size: rem(16px);
    font-family: $font-family--secondary;

    @include d1-mq("medium") {
      display: none;
    }
  }

  &-hamburger {
    display: none;
    flex: 1;
    padding-right: space(2);
    text-align: right;

    @include d1-mq("medium") {
      display: inline-block;
    }

    &-icon {
      color: $color--white;
      font-size: space(3);
    }
  }
}
