.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: space(2) 0;

  &-logo {
    flex: 2;
  }

  &-link {
    flex: 1;
    color: $color--white;
    font-family: $font-family--secondary;
  }

  &-contact {
    text-align: right;
  }
}
