.hero {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: space(10) 0;

  &-heading {
    margin-bottom: space(5);
    font-family: $font-family--secondary;
  }

  &-text {
    width: 50%;
    margin: 0 auto;
    margin-bottom: space(5);

    @include d1-mq("small") {
      width: 100%;
      padding: 0 space(2);
    }
  }

  &-highlight {
    font-family: $font-family--secondary;
  }

  &-cta {
    padding-bottom: space(2);
    display: none;

    @include d1-mq("medium") {
      display: block;
    }
  }

  &-btn-container {
    display: grid;
    justify-content: center;

    @include d1-mq("medium") {
      grid-template-columns: repeat(2, 150px);
      gap: space(2);
      width: 33%;
      margin: 0 auto;
    }
  }

  &-btn {
    padding: space(1) space(2);

    border-radius: $border-radius--small;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-btn span {
    font-family: $font-family--secondary;
    padding-left: space(0.5);
  }

  &-btn-menu {
    display: block;
    color: $color--white;
    background: linear-gradient(
      0deg,
      rgba(119, 23, 16, 1) 29%,
      rgba(155, 0, 0, 1) 100%
    );
    border: none;
    box-shadow: 2px 2px 8px -2px darken($color--dark-red, 10%);
    text-decoration: none;

    @include d1-mq("medium") {
      border: 2px solid $color--dark-red;
      color: $color--dark-red;
      background: transparent;
    }
  }

  &-btn-phone {
    display: none;
    color: $color--white;
    background: linear-gradient(
      0deg,
      rgba(119, 23, 16, 1) 29%,
      rgba(155, 0, 0, 1) 100%
    );
    border: none;
    box-shadow: 2px 2px 8px -2px darken($color--dark-red, 10%);

    @include d1-mq("medium") {
      display: block;
    }
  }

  &-fast-icon {
    height: 0.6rem;
  }

  &-pizza {
    position: absolute;
    top: -50px;
    right: -100px;
    width: 26vw;
    max-width: 350px;
    min-width: 250px;

    @include d1-mq("small") {
      right: -130px;
    }
  }
  &-shaker {
    position: absolute;
    bottom: space(2);
    left: space(2);
    height: rem(120px);

    @include d1-mq("medium") {
      display: none;
    }
  }
}
