// import component styles
@import "./Home.scss";
@import "./Template.scss";
@import "./Header.scss";
@import "./Hero.scss";
@import "./Info.scss";
@import "./Map.scss";
@import "./Menu.scss";
@import "./PizzaInfo.scss";
@import "./Sizes.scss";
