.info {
  padding: space(8) space(4);
}

.sticky {
  text-align: center;
  font-family: $font-family--secondary;
  padding-bottom: space(8);
  font-style: italic;
}

.hours {
  max-width: 400px;
  margin: 0 auto space(8) auto;
  text-align: center;

  &-header {
    margin-bottom: space(1);
  }

  &-time {
    margin-bottom: space(0.5);
  }

  &-pizza {
    height: space(2);
    width: space(2);
    margin-right: space(1);
    transform: translateY(3px);
  }
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: space(8);

  @media (max-width: 650px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.info {
  &-header {
    margin-bottom: space(1);
  }

  &-telephone {
    margin-bottom: space(0.5);
  }

  &-address {
    margin-bottom: space(0.5);
  }

  &-addressTwo {
    margin-bottom: space(2);
  }
}
