.map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-container {
  position: relative;
  height: rem(400px);
  width: 100%;
}

.marker {
  height: 60px;
  width: 60px;
  background: url(../../images/pizza-slice.svg) no-repeat;
  background-size: fit;
}
