.sideDrawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 75vw;
  height: 100vh;
  right: 0;
  padding-top: space(20);
  background: $color--dark-red url("../../images/brick-wall.png") repeat left
    top;
  background-size: space(20);
  z-index: 101;

  &-close {
    position: absolute;
    top: space(2);
    right: space(1.4);
    color: $color--white;
    font-size: space(4);
  }

  &-item {
    display: block;
    text-decoration: none;
    color: $color--white;
    font-family: $font-family--secondary;
    font-size: space(3);
  }

  &-item + &-item {
    padding-top: space(4);
  }
}
