.sizes {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.75fr 2fr;
  gap: space(1);

  &-indv,
  &-small,
  &-medium,
  &-large {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &-subheading {
    font-family: $font-family--secondary;
    padding-bottom: space(1);
  }

  &-img {
    width: 100%;
    padding-bottom: space(1);
  }
}
