.template {
  min-height: 100vh;
  background: $color--dark-red url("../../images/brick-wall.png") repeat left
    top;
  background-size: space(20);

  &-wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }

  &-main {
    background: $color--white url("../../images/paper.png");
    background-size: space(50);
    border-radius: $border-radius--small;
  }
}

.footer {
  text-align: center;
  color: $color--white;
  padding: space(2);
}
