/*-------------------------------*/
/*GLOBALS*/
/*-------------------------------*/
:root {
  font-size: 18px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $font-family--primary;
}

body {
  box-sizing: border-box;
}

textarea,
input {
  border: none;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: $font-family--secondary;
}

h1 {
  font-size: space(4);
}

h2 {
  font-size: space(3);
}

h3 {
  font-size: space(2);
}

p {
  line-height: 1.5;
}
