/*-------------------------------*/
/* FONTS */
/*-------------------------------*/
$font-url--google: "https://fonts.googleapis.com/css2?family=Average&family=Fjalla+One&display=swap";

$font-family--primary: "Average", serif;
$font-family--secondary: "Fjalla One", sans-serif;

// $font-weight--light: 300;
// $font-weight--regular: 400;
// $font-weight--semi-bold: 600;
// $font-weight--bold: 700;

/*-------------------------------*/
/* BREAKPOINTS */
/*-------------------------------*/

$breakpoint--lg: 910px;
$breakpoint--md: 790px;
$breakpoint--sm: 637px;

/*-------------------------------*/
/* COLORS */
/*-------------------------------*/

$color--white: #fff;
$color--black: rgb(44, 44, 44);
$color--red: #9b0000;
$color--dark-red: #771710;
$color--green: #227847;
$color--yellow: #f4ef88;
$color--gray: #3f3f3f;

/*-------------------------------*/
/* IMAGE PATH */
/*-------------------------------*/

$img-path: "../images";

/*-------------------------------*/
/* BORDER RADIUS */
/*-------------------------------*/

$border-radius--small: 4px;

/*-------------------------------*/
/* Z-INDEX */
/*-------------------------------*/

// $index--1: 1;
// .hero__img-phones
// .img__phones

// $index--2: 2;
// .mobile-nav-background

// $index--3: 3;
// .header
